.create-group {
   width: 24rem;
   background-color: white;
   .group-image {
      width: 6rem;
      height: 6rem;
      &:hover {
         .inner-overlay {
            display: block;
            cursor: pointer;
         }
      }
      .inner-overlay {
         display: none;
         background-color: rgba(0, 0, 0, 0.35);
         overflow: hidden;
         input {
            opacity: 0;
            z-index: 10;
         }
      }
      img {
         object-fit: cover;
         object-position: center;
      }
   }
   input.group-name {
      background-color: #eeeeee;
      border-radius: 2rem;
      font-size: 1em;
      color: #212121;
   }
   .close {
      z-index: 10;
   }
   .actions {
      button.done {
         background-color: #009688;
         color: white;
         border-radius: 1rem;
         &:hover {
            background-color: #00897b;
         }
      }
   }
}
.overlay {
   background-color: rgba(0, 0, 0, 0.65);
}
