* {
   border: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

img {
   user-select: none;
}
// .card {
//    padding: 1rem;
//    border-radius: 0.3rem;
//    &.outlined {
//       border: 1px solid #bdbdbd;
//    }
// }
// .icon-btn {
//    background-color: #212121;
//    height: 2.5rem;
//    min-width: 2.5rem;
//    color: #bdbdbd;
//    transition: background-color 0.3s ease-in-out;
//    &:hover {
//       background-color: #313131;
//    }
// }
// .icon-btn-2 {
//    background-color: #252525;
//    height: 2rem;
//    min-width: 2rem;
//    color: #bdbdbd;
//    transition: background-color 0.3s ease-in-out;
//    &:hover {
//       background-color: #282828;
//    }
//    font-size: 0.8rem;
// }
// .icon-btn-3 {
//    background-color: #313131;
//    height: 2.5rem;
//    min-width: 2.5rem;
//    color: #bdbdbd;
//    transition: background-color 0.3s ease-in-out;
//    &:hover {
//       background-color: #282828;
//    }
// }
